@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
    padding-top: 60px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background-repeat: no-repeat;
    background: rgb(169,3,41);
    background: radial-gradient(circle, rgba(169,3,41,1) 0%, rgba(158,2,38,1) 35%, rgba(109,0,25,1) 100%);
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }